@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Poiret+One&family=Roboto:wght@500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li,
a,
button {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 24px;
  color: #fff;
  text-decoration: none;
}

header {
  background-color: #433939;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  height: 149px;
  width: 100%;
  flex-shrink: 0%;
}

.logo {
  cursor: pointer;
}

.nav_links li {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: #aa2a5c;
}

button {
  padding: 10px 24px;
  background-color: #aa2a5c;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  transition: all 0.5s ease 0s;
}

button:hover {
  background-color: #831c44;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  header {
    flex-direction: column;
  }

  .nav_links,
  .cta {
    display: none;
  }

  .nav_links li {
    display: block;
  }

  .nav_links li a {
    font-size: 18px;
  }

  button {
    font-size: 18px;
  } }

 /* .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
  }
} */

/*Above the Fold*/
.container {
  display: flex;
  justify-content: space-between;
}

.image-container {
  flex: 1;
  margin-right: 10px;
  padding-bottom: 20px;
}

.image-container img {
  width: 100%;
  height: auto;
}

.text-container {
  flex: 1;
  margin-left: 10px;
  text-align: left;
}

h2 {
  color: #AA2A5C;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
  padding-top: 70px;
}

h4 {
color: #615F5B;
font-size: 38px;
font-style: normal;
font-weight: 700;
padding-top: 40px;
}

.fold-img {
padding: 40px;
}

/*CTA images section*/
.container {
  display: flex;
  justify-content: space-between;
}

.image-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container img {
  width: 100%;
  height: auto;
}

.image-container button {
  margin-top: 10px;
}

/*Testimonials section*/
.testimonials-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container img {
  width: 100%;
  height: auto;
  padding-bottom: 40px;
}

h1 {
  padding-top: 40px;
  padding-bottom: 40px;
  text-decoration-line: underline;
}

.image-container {
  padding-top: 40px;
}


/* Keyframes for image animation */
@keyframes imageAnimation {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* Apply animation to images */
.image-container img {
  animation: imageAnimation 2s ease-in-out;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  header {
    flex-direction: column;
  }

  .nav_links,
  .cta {
    display: none;
  }

  .nav_links li {
    display: block;
  }